/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');} */

* {
    font-family: "Lucida Console", Courier, monospace;
    box-sizing: border-box;
  
    /*Font Sizes*/
    --fs-1: 3rem;
    --fs-2: 2rem;
    --fs-3: 1.5rem;
    --fs-4: 1rem;
    --fs-5: 1.2rem;

    --fs-6: 30px;
  
    /*Colors*/
    --clr-hover: #ffc156;
    --clr-black: rgb(45, 45, 45);
    --clr-white: #fff;
    
    --clr-course-background: rgb(70, 191, 54);
    --clr-subbox-background: rgb(116, 219, 103);
    
    --clr-course-title: rgb(61, 27, 35);
  
    /*Font Weights*/
    --fw-light: 200;
    --fw-reg: 400;
    --fw-bold: 900;
  
    /*Box Shadows*/
    --bs: 0 2px 8px rgba(0,0,0,0.26);

    /*Box Width*/
    --bw-verylarge: 500px;
    --bw-large: 400px;
    --bw-small: 350px;
  
    /*Border Radius*/
    --br-button: 5px;
    --br-background: 10px;

     /*Cursor pointers*/
     --crsr-pointer: pointer;

      /*Margin*/
      --margin-wide: 1rem 1rem 1rem 0;;
      --margin-thin: 0rem 0rem 0.5rem 0;

  }