.pageDiv {
  display: flex;
  flex-direction: column;
  font-family: var(font-family);
  background: var(--clr-secondary-color);
}

.aboutUsHeader {
  text-align: center;
  font-size: var(--fs-1);
  font-weight: var(--fw-bold);
  margin: 4%;
  max-width: 750px;
  align-self: center;
}

.sections {
  display: flex;
  flex-direction: row;
  font-size: var(--fs-3);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px;
  margin-bottom: 50px;
}

.image1 {
  max-width: 600px;
  border-radius: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.text {
  font-family: var(font-family);
  font-size: var(--fs-3);
  text-align: center;
  max-width: 600px;
  margin-left: 2%;
  margin-right: 2%;
}


/* Media queries */
@media only screen and (max-width: 768px) {
  /* Styles for screens up to 768px */
  .pageDiv {
    display: inline-flex;
    flex-direction: column;
  }
  .aboutUsHeader {
    font-size: var(--fs-2);
  }

  .text {
    font-size: var(--fs-4);
  }
  .sections {
    gap: 0;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .image1 {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 90%;
  }

}

@media only screen and (min-width: 768px) {
  /* Styles for screens above 768px */
  .aboutUsDiv {
    display: flex;
  }
  .aboutUsSubDiv1,
  .aboutUsSubDiv2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aboutUsTextBox1,
  .aboutUsTextBox2 {
  }
}





