.course{
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
    background: var(--clr-course-background);
    box-shadow: var(--bs);
    border-radius: var(--br-background);
    margin: var(--margin-wide);
    padding: var(--fs-3);
    width: var(--bw-large);
    transition: transform .3s ease;
    cursor: var(--crsr-pointercrsr-);
}

.sub{ 
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
    background: var(--clr-subbox-background);
    box-shadow: var(--bs);
    border-radius: var(--br-background);
    margin: var(--margin-thin);
    padding: var(--fs-3);
    width: var(--bw-small);
    transition: transform .3s ease;
    cursor: pointer;
}

.course__body{
    font-family: var(font-family);
    font-weight: var(--fw-light);
    font-size: var(--fs-5);
    padding-left: 5%;
    cursor: var(--crsr-pointercrsr-);
}

.course:hover{
    transform: scale(1.1);
}

.course__title{
    font-family: var(font-family);
    color: rgb(61, 27, 35);
    font-weight: var(--fw-bold);
    font-size: var(--fs-3);
    text-decoration: underline;
    cursor: var(--crsr-pointercrsr-);
}

.course__subboxes{
    font-family: var(font-family);
    font-weight: var(--fw-reg);
    font-size: var(--fs-5);
    color: rgb(75, 75, 78);
    text-decoration: underline;
    cursor: var(--crsr-pointercrsr-);
}


.course__image{
    display: flex;
    justify-content: flex-end;
}