.header{
    background-color: var(--clr-primary-lights);
    /* margin-top: 40px; */
    margin-bottom: 0;
    text-align: left;
    padding: 20px 10px 20px 10px;
    font-size: var(--fx-3);
    font-size: 64px;
    color: var( --clr-course-title);

}